<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests"> <!--parallel="tests" -->
	<listeners>
		<listener class-name="jkjtf.Listeners" />
	</listeners>
	<test thread-count="5" name="homepage test">
		<classes>
			<class name="jkjtf.HomePage" />
		</classes>
	</test>
	<test name="nav test">
		<classes>
			<class name="jkjtf.ValidateNavBar" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
